xsdtest.rnc

start = element typetest {(types|values)*}
types = element types { 
    attribute datetime { xsd:dateTime } ?
  , attribute date { xsd:date } ?
  , attribute time { xsd:time } ?
  , attribute year { xsd:gYear } ?
  , attribute month { xsd:gMonth } ?
  , attribute day { xsd:gDay } ?
  , attribute yearmonth { xsd:gYearMonth } ?
  , attribute monthday { xsd:gMonthDay } ?
  , attribute duration { xsd:duration } ?
  , attribute base64binary { xsd:base64Binary {length="4" } } ?
}
  
values = element values {
  attribute hexbinary { xsd:hexBinary " abc123a " } ?
  , attribute base64binary { xsd:base64Binary " ABCDEE== " } ?
}
