tst/d/xsd-datetime.rnc

start = element typetest {(types|values)*}
types = element types {  empty
  , attribute dateTimeMinMax { 
      xsd:dateTime {
	minExclusive="0001-01-01T00:00:00Z" 
	minInclusive="1969-04-30T00:00:00+14:00" 
	maxInclusive="1969-04-30T23:59:60-14:00" 
	maxExclusive="2033-01-01T00:00:00Z" 
      }
    } ?
}
values = element values {  empty
  , attribute time { xsd:time "14:00:12.34" } ?
}
